@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
body {
  font-family: "Electrolize", sans-serif;
  max-width: 80%;
  margin: 0% auto;
  padding: 5px;
  background-color: #0c143f;
  color: white;
}
header {
  width: 100%;
  height: 100px;
  padding-top: auto;
  padding-bottom: auto;
  background: black;
}

nav li {
  display: inline-block;
  position: relative;
  left: 25%;
  bottom: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
nav ul li:hover a {
  background: white;
  color: black;
}
.uni {
  position: relative;
  bottom: 55px;
}

.logo {
  position: relative;
  top: 60px;
  right: 400px;
}
.input {
  position: relative;

  left: 60%;
}
.cart img {
  position: relative;
  text-align: right;
  float: right;
  bottom: 145px;
  right: 10px;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: blue;
  text-align: left;
}
.column {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0%;
  justify-content: space-evenly;
}
footer a p h3 {
  color: blue;
}
h2 {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
}

p {
  font-size: normal;
  width: 90%;
  display: block;
  text-align: left;
  float: right;
  line-height: 32px;
}

.imgm {
  display: block;
  margin-top: 75px;
}
h4 {
  font-size: larger;
  color: #ba35f2;
  border-width: justify;
  line-height: 50px;
}
p a {
  text-decoration: solid #d9d273;
}
hr {
  color: #d9d273;
}
